{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for i in index %}
            <tr>
                <td style="text-transform:uppercase">{{ i["symbol"] }}</td>
                <td>{{ i["name"] }}</td>
                <td>{{ i["b"] }}</td>
                <td>${{ i["price"] }}</td>
                <td>{{ i["total"] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ final_amt }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
