{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    {% if flag == 1 %}
        A share of {{ name }}, Inc. ({{ symbol }}) costs ${{ price }}.
    {% else %}
        <form action="/quote" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="Symbol" placeholder="Symbol" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Quote</button>
        </form>
    {% endif %}
{% endblock %}